/*Color pagina actual*/
#op4 {
    background-color: rgba(103, 28, 52, 0.6);
    border: solid rgba(103, 28, 52, 0.4);;
    
}


.busqueda{
    height: 80%;
    width: 50%;
    display: flex;
    border-radius: 2vw;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 1vw 1vw 2vw 1vw rgba(0, 0, 0, 0.5);
    padding: 0 2vw 3vw 2vw;
}


.titulo {
    color: rgb(103,28,52);
    font-size: 3vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 0.5vw solid rgb(103,28,52);
    justify-content: center;
    padding: 0;
    width: 100%;
    margin: 0.5vw 0vw 2vw 0vw;
}

.opciones {
    margin-top: 0vw;
    display: grid;
    grid-template-columns: 3vw 15vw 6vw 6vw 6vw;
    justify-content: center;
    column-gap: 1vw;
    margin-bottom: 2vw;
}

.documento {
    font-size: 1vw;
}


.id-img {
    height: 2vw;
}

.busqueda .btn {
    background-color: rgb(103,28,52);
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    border: none;
}

.title-info {
    margin: 0;
    margin-bottom: 1vw;
    padding: 0;
    font-size: 1.8vw;
}

.rbusqueda{
    column-gap: 1vw;
    border-collapse: collapse;
    text-align: center;
    align-items: center;
    border: black;
    width: 100%;
    font-size: 1.1vw;
    height: fit-content;
    
}

.wrapper {
    height: fit-content;
    max-height: 25vh;
    overflow: auto;
}

.tabla2 thead {
    width: 100%;
}

.tabla2 thead tr {
    position: sticky;
    top: 0vw;
}

.section-1 {
    max-lines: 5;
    overflow: scroll;
    width: 100%;

}

table th {
    font-weight: normal;
    background-color: rgb(103,28,52);
    color: white;
    padding: 0.5vw;
}

.encabezado {
    width: 100%;
}

.section-1 td {
    padding: 0.5vw;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 50%;
    border-radius: 1vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: rgb(103,28,52);
    color: white;
    border-radius: 1vw 1vw 0 0;
  }
  
.modal-body {
    background-color: #fefefe;
    padding: 2px 16px;
    display: flex;
    height: 30vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-body span {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
}

#otro-2 {
    display: none;
}


  
  .modal-footer {
    padding: 0.5vw;
    background-color: #ffffff;
    border-top: 0.2vw rgb(103,28,52) solid;
    color: white;
    border-radius: 0 0 1vw 1vw;
  }

.modal-footer .btn {
    background-color: rgb(103,28,52);
    padding: 0.5vw;
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    border: none;
}