#aggMotivo {
    background-color:  rgb(103,28,52);
  

}
#op3 {
    background-color: rgba(103, 28, 52, 0.6);
    border: solid rgba(103, 28, 52, 0.4);;
    
}

.busqueda{
    height: 80%;
    width: 60%;
    display: flex;
    border-radius: 2vw;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 1vw 1vw 2vw 1vw rgba(0, 0, 0, 0.5);
    padding: 0 2vw 3vw 2vw;
}


.titulo {
    color: rgb(103,28,52);
    font-size: 3vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 0.5vw solid rgb(103,28,52);
    justify-content: center;
    padding: 0;
    width: 100%;
    margin: 0.5vw 0vw 2vw 0vw;
}
#divPr h1 {
    text-align: center;
    color: rgb(103,28,52);
    font-size: 3vw;
    font-weight: bold;


}